.custom-button {
    border: none; /* Rimuove il bordo */
    background-color: #212529; /* Imposta lo sfondo trasparente */
    color: white;
    text-decoration: underline;
    padding: 0; /* Rimuove il padding se necessario */
    /* Aggiungi altri stili desiderati come colore del testo, dimensioni del carattere, ecc. */
  }


  .inputbox{
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 2%;
  }
